[submodule "2026-03-21-karpathy_llm.c/source"]
	path = 2026-03-21-karpathy_llm.c/source
	url = https://github.com/karpathy/llm.c
[submodule "2026-03-21-1-victorsosaMx_vsWaybar-Studio/source"]
	path = 2026-03-21-1-victorsosaMx_vsWaybar-Studio/source
	url = https://github.com/victorsosaMx/vsWaybar-Studio
